.main__inner__sidebar
  %ul.main__inner__sidebar__menu
    %li.main__inner__sidebar__menu__item
      = link_to "#", class: "active" do
        %span マイページ
        = icon("fas", "chevron-right")
    %li.main__inner__sidebar__menu__item
      = link_to "#" do
        %span お知らせ
        = icon("fas", "chevron-right")
    %li.main__inner__sidebar__menu__item
      = link_to "#" do
        %span やることリスト
        = icon("fas", "chevron-right")
    %li.main__inner__sidebar__menu__item
      = link_to "#" do
        %span いいね一覧
        = icon("fas", "chevron-right")
    %li.main__inner__sidebar__menu__item
      = link_to "#" do
        %span 出品する
        = icon("fas", "chevron-right")
    %li.main__inner__sidebar__menu__item
      = link_to "#" do
        %span 出品した商品・出品中
        = icon("fas", "chevron-right")
    %li.main__inner__sidebar__menu__item
      = link_to "#" do
        %span 出品した商品・取引中
        = icon("fas", "chevron-right")
    %li.main__inner__sidebar__menu__item
      = link_to "#" do
        %span 出品した商品・売却済み
        = icon("fas", "chevron-right")
    %li.main__inner__sidebar__menu__item
      = link_to "#" do
        %span 購入した商品・取引中
        = icon("fas", "chevron-right")
    %li.main__inner__sidebar__menu__item
      = link_to "#" do
        %span 購入した商品・過去の取引
        = icon("fas", "chevron-right")
    %li.main__inner__sidebar__menu__item
      = link_to "#" do
        %span ニュース一覧
        = icon("fas", "chevron-right")
    %li.main__inner__sidebar__menu__item
      = link_to "#" do
        %span 評価一覧
        = icon("fas", "chevron-right")
    %li.main__inner__sidebar__menu__item
      = link_to "#" do
        %span ガイド
        = icon("fas", "chevron-right")
    %li.main__inner__sidebar__menu__item
      = link_to "#" do
        %span お問い合わせ
        = icon("fas", "chevron-right")
  .main__inner__sidebar__payment
    %h3.main__inner__sidebar__payment__title メルペイ
    %ul.main__inner__sidebar__payment__list
      %li.main__inner__sidebar__payment__list__item
        = link_to "#" do
          %span 売上・振込申請
          = icon("fas", "chevron-right")
      %li.main__inner__sidebar__payment__list__item
        = link_to "#" do
          %span ポイント
          = icon("fas", "chevron-right")
  .main__inner__sidebar__config
    %h3.main__inner__sidebar__config__title 設定
    %ul.main__inner__sidebar__config__list
      %li.main__inner__sidebar__config__list__item
        = link_to "#" do
          %span プロフィール
          = icon("fas", "chevron-right")
      %li.main__inner__sidebar__config__list__item
        = link_to "#" do
          %span 発送元・お届け先住所変更
          = icon("fas", "chevron-right")
      %li.main__inner__sidebar__config__list__item
        = link_to "#" do
          %span 支払い方法
          = icon("fas", "chevron-right")
      %li.main__inner__sidebar__config__list__item
        = link_to "#" do
          %span メール
          = icon("fas", "chevron-right")
      %li.main__inner__sidebar__config__list__item
        = link_to "#" do
          %span 本人情報
          = icon("fas", "chevron-right")
      %li.main__inner__sidebar__config__list__item
        = link_to "#" do
          %span 電話番号の確認
          = icon("fas", "chevron-right")
      %li.main__inner__sidebar__config__list__item
        = link_to "#" do
          %span ログアウト
          = icon("fas", "chevron-right")
