.mypage
  .sp-header
  .pc-header
    .pc-header__inner
      .pc-header__inner__top
        = link_to "#", class: "pc-header__inner__top__logo" do
          = image_tag 'logos/fmarket_logo_red.svg', alt: 'fmarket_logo', height: '36', width: '134'
        %form.pc-header__inner__top__search
          %input{ type: "search", placeholder: "何かお探しですか？", class: "pc-header__inner__top__search__input" }
          .pc-header__inner__top__search__icon
            = icon("fas", "search", class: "pc-header__inner__top__search__icon")
      .pc-header__inner__navbar
        %ul.pc-header__inner__navbar__menu-left
          %li.pc-header__inner__navbar__menu-left__item
            = link_to "#" do
              = icon("fas" , "list")
              %span カテゴリーから探す
          %li.pc-header__inner__navbar__menu-left__item
            = link_to "#" do
              = icon("fas", "tags")
              %span ブランドから探す
        %ul.pc-header__inner__navbar__menu-right
          %li.pc-header__inner__navbar__menu-right__item
            = link_to "#" do
              = icon("far", "heart")
              %span いいね！一覧
          %li.pc-header__inner__navbar__menu-right__item
            = link_to "#" do
              = icon("far", "bell")
              %span お知らせ
          %li.pc-header__inner__navbar__menu-right__item
            = link_to "#" do
              = icon("fas", "check")
              %span やることリスト
          %li.pc-header__inner__navbar__menu-right__item
            = link_to "#" do
              = image_tag 'mypage/boy_01.png', alt: 'user_icon', height: '32', width: '32', class: ''
              %span マイページ
  .breadcrumb
  .main
    .main__inner
      .main__inner__sidebar
        %ul.main__inner__sidebar__menu
          %li.main__inner__sidebar__menu__item
            = link_to "マイページ", "#"
          %li.main__inner__sidebar__menu__item
            = link_to "お知らせ", "#"
          %li.main__inner__sidebar__menu__item
            = link_to "やることリスト", "#"
          %li.main__inner__sidebar__menu__item
            = link_to "いいね一覧", "#"
          %li.main__inner__sidebar__menu__item
            = link_to "出品する", "#"
          %li.main__inner__sidebar__menu__item
            = link_to "出品した商品・出品中", "#"
          %li.main__inner__sidebar__menu__item
            = link_to "出品した商品・取引中", "#"
          %li.main__inner__sidebar__menu__item
            = link_to "出品した商品・売却済み", "#"
          %li.main__inner__sidebar__menu__item
            = link_to "購入した商品・取引中", "#"
          %li.main__inner__sidebar__menu__item
            = link_to "購入した商品・過去の取引", "#"
          %li.main__inner__sidebar__menu__item
            = link_to "ニュース一覧", "#"
          %li.main__inner__sidebar__menu__item
            = link_to "評価一覧", "#"
          %li.main__inner__sidebar__menu__item
            = link_to "ガイド", "#"
          %li.main__inner__sidebar__menu__item
            = link_to "お問い合わせ", "#"
        .main__inner__sidebar__payment
          %h3.main__inner__sidebar__payment__title メルペイ
          %ul.main__inner__sidebar__payment__list
            %li.main__inner__sidebar__payment__list__item
              = link_to "売上・振込申請", "#"
            %li.main__inner__sidebar__payment__list__item
              = link_to "ポイント", "#"
        .main__inner__sidebar__config
          %h3.main__inner__sidebar__config__title 設定
          %ul.main__inner__sidebar__config__list
            %li.main__inner__sidebar__config__list__item
              = link_to "プロフィール", "#"
            %li.main__inner__sidebar__config__list__item
              = link_to "発送元・お届け先住所変更", "#"
            %li.main__inner__sidebar__config__list__item
              = link_to "支払い方法", "#"
            %li.main__inner__sidebar__config__list__item
              = link_to "メール/パスワード", "#"
            %li.main__inner__sidebar__config__list__item
              = link_to "本人情報", "#"
            %li.main__inner__sidebar__config__list__item
              = link_to "電話番号の確認", "#"
            %li.main__inner__sidebar__config__list__item
              = link_to "ログアウト", "#"
      .main__inner__body
        .main__inner__body__user-icon
        .main__inner__body__notification
          %ul.main__inner__body__notification__tabs
            %li.main__inner__body__notification__tabs__title.active お知らせ
            %li.main__inner__body__notification__tabs__title やることリスト
          %ul.main__inner__body__notification__messages
            %li.main__inner__body__notification__messages__item
              = link_to "#", class: "messages__item" do
                = image_tag 'logos/logo_red.svg', alt: 'logo_red', height: '48', width: '48'
                .messages__item__content
                  .messages__item__content__text 事務局から個別メッセージ
                  .messages__item__content__date
                    = icon("far", "clock")
                    %span ２日前
                .messages__item__arrow
                  = icon("fas", "angle-right")
            %li.main__inner__body__notification__messages__item
              = link_to "#", class: "messages__item" do
                = image_tag 'logos/logo_red.svg', alt: 'logo_red', height: '48', width: '48'
                .messages__item__content
                  .messages__item__content__text 事務局から個別メッセージ
                  .messages__item__content__date
                    = icon("far", "clock")
                    %span ２日前
                .messages__item__arrow
                  = icon("fas", "angle-right")
            %li.main__inner__body__notification__messages__item
              = link_to "#", class: "messages__item" do
                = image_tag 'logos/logo_red.svg', alt: 'logo_red', height: '48', width: '48'
                .messages__item__content
                  .messages__item__content__text 事務局から個別メッセージ
                  .messages__item__content__date
                    = icon("far", "clock")
                    %span ２日前
                .messages__item__arrow
                  = icon("fas", "angle-right")
            %li.main__inner__body__notification__messages__item
              = link_to "#", class: "messages__item" do
                = image_tag 'logos/logo_red.svg', alt: 'logo_red', height: '48', width: '48'
                .messages__item__content
                  .messages__item__content__text 事務局から個別メッセージ
                  .messages__item__content__date
                    = icon("far", "clock")
                    %span ２日前
                .messages__item__arrow
                  = icon("fas", "angle-right")
            %li.main__inner__body__notification__messages__item
              = link_to "#", class: "messages__item" do
                = image_tag 'logos/logo_red.svg', alt: 'logo_red', height: '48', width: '48'
                .messages__item__content
                  .messages__item__content__text 事務局から個別メッセージ
                  .messages__item__content__date
                    = icon("far", "clock")
                    %span ２日前
                .messages__item__arrow
                  = icon("fas", "angle-right")
            %li.main__inner__body__notification__messages__item--show-all
              = link_to "一覧をみる", "#"
          %ul.main__inner__body__notification__alerts
            %li.main__inner__body__notification__alerts__item
              = link_to "購入した商品のお支払いをしてください", "#"
            %li.main__inner__body__notification__alerts__item
              = link_to "出品した商品を発送してください", "#"
        .main__inner__body__purchase-history
          %h2.main__inner__body__purchase-history__title 購入した商品
          %ul.main__inner__body__purchase-history__tabs
            %li.main__inner__body__purchase-history__tabs__title 取引中
            %li.main__inner__body__purchase-history__tabs__title 過去の取引
          .main__inner__body__purchase-history__content
            %ul.main__inner__body__purchase-history__content__current
              %li.main__inner__body__purchase-history__content__current__item 山田さんから自転車を購入（取引中）
              %li.main__inner__body__purchase-history__content__current__item 田中さんからスマホケースを購入（取引中）
              %li.main__inner__body__purchase-history__content__current__item 佐藤さんからmacbookを購入（取引中）
            %ul.main__inner__body__purchase-history__content__previous
              %li.main__inner__body__purchase-history__content__previous__item 山田さんから自転車を購入
              %li.main__inner__body__purchase-history__content__previous__item 田中さんからスマホケースを購入
              %li.main__inner__body__purchase-history__content__previous__item 佐藤さんからmacbookを購入
  .banner
    .banner__inner
      .banner__inner__promotion
        %h2.banner__inner__promotion__title スマホでかんたんフリマアプリ
        %h2.banner__inner__promotion__text 今すぐ無料ダウンロード！
        .banner__inner__promotion__icons
          .banner__inner__promotion__icons__logo
            = image_tag 'logos/logo_red.svg', alt: 'logo_red', width: "58", height: "58"
          %ul.banner__inner__promotion__icons__apps
            %li.banner__inner__promotion__icons__apps__item
              = image_tag 'badges/App_Store_Badge_JP_RGB_blk.svg', alt: 'App_Store_Badge_JP_RGB_blk', width: "133", height: "40"
            %li.banner__inner__promotion__icons__apps__item
              = image_tag 'badges/App_Store_Badge_JP_RGB_blk.svg', alt: 'App_Store_Badge_JP_RGB_blk', width: "133", height: "40"
      .banner__inner__image
        = image_tag 'logos/logo_red.svg', alt: 'logo_gray', width: "68", width: "260", height: "260"
  .footer
  .sell-button
