.mypage
  .sp-header
  .pc-header
    .pc-header__inner
      .pc-header__inner__top
        = link_to "#", class: "pc-header__inner__top__logo" do
          = image_tag 'logos/fmarket_logo_red.svg', alt: 'fmarket_logo', height: '36', width: '134'
        %form.pc-header__inner__top__search
          %input{ type: "search", placeholder: "何かお探しですか？", class: "pc-header__inner__top__search__input" }
          .pc-header__inner__top__search__icon
            = icon("fas", "search", class: "pc-header__inner__top__search__icon")
      .pc-header__inner__navbar
        %ul.pc-header__inner__navbar__menu-left
          %li.pc-header__inner__navbar__menu-left__item
            = link_to "#" do
              = icon("fas" , "list")
              %span カテゴリーから探す
          %li.pc-header__inner__navbar__menu-left__item
            = link_to "#" do
              = icon("fas", "tags")
              %span ブランドから探す
        %ul.pc-header__inner__navbar__menu-right
          %li.pc-header__inner__navbar__menu-right__item
            = link_to "#" do
              = icon("far", "heart")
              %span いいね！一覧
          %li.pc-header__inner__navbar__menu-right__item
            = link_to "#" do
              = icon("far", "bell")
              %span お知らせ
          %li.pc-header__inner__navbar__menu-right__item
            = link_to "#" do
              = icon("fas", "check")
              %span やることリスト
          %li.pc-header__inner__navbar__menu-right__item
            = link_to "#" do
              = image_tag 'mypage/boy_01.png', alt: 'user_icon', height: '32', width: '32'
              %span マイページ
  .breadcrumb
  .main
    .main__inner
      .main__inner__sidebar
        %ul.main__inner__sidebar__menu
          %li.main__inner__sidebar__menu__item
            = link_to "#", class: "active" do
              %span マイページ
              = icon("fas", "chevron-right")
          %li.main__inner__sidebar__menu__item
            = link_to "#" do
              %span お知らせ
              = icon("fas", "chevron-right")
          %li.main__inner__sidebar__menu__item
            = link_to "#" do
              %span やることリスト
              = icon("fas", "chevron-right")
          %li.main__inner__sidebar__menu__item
            = link_to "#" do
              %span いいね一覧
              = icon("fas", "chevron-right")
          %li.main__inner__sidebar__menu__item
            = link_to "#" do
              %span 出品する
              = icon("fas", "chevron-right")
          %li.main__inner__sidebar__menu__item
            = link_to "#" do
              %span 出品した商品・出品中
              = icon("fas", "chevron-right")
          %li.main__inner__sidebar__menu__item
            = link_to "#" do
              %span 出品した商品・取引中
              = icon("fas", "chevron-right")
          %li.main__inner__sidebar__menu__item
            = link_to "#" do
              %span 出品した商品・売却済み
              = icon("fas", "chevron-right")
          %li.main__inner__sidebar__menu__item
            = link_to "#" do
              %span 購入した商品・取引中
              = icon("fas", "chevron-right")
          %li.main__inner__sidebar__menu__item
            = link_to "#" do
              %span 購入した商品・過去の取引
              = icon("fas", "chevron-right")
          %li.main__inner__sidebar__menu__item
            = link_to "#" do
              %span ニュース一覧
              = icon("fas", "chevron-right")
          %li.main__inner__sidebar__menu__item
            = link_to "#" do
              %span 評価一覧
              = icon("fas", "chevron-right")
          %li.main__inner__sidebar__menu__item
            = link_to "#" do
              %span ガイド
              = icon("fas", "chevron-right")
          %li.main__inner__sidebar__menu__item
            = link_to "#" do
              %span お問い合わせ
              = icon("fas", "chevron-right")
        .main__inner__sidebar__payment
          %h3.main__inner__sidebar__payment__title メルペイ
          %ul.main__inner__sidebar__payment__list
            %li.main__inner__sidebar__payment__list__item
              = link_to "#" do
                %span 売上・振込申請
                = icon("fas", "chevron-right")
            %li.main__inner__sidebar__payment__list__item
              = link_to "#" do
                %span ポイント
                = icon("fas", "chevron-right")
        .main__inner__sidebar__config
          %h3.main__inner__sidebar__config__title 設定
          %ul.main__inner__sidebar__config__list
            %li.main__inner__sidebar__config__list__item
              = link_to "#" do
                %span プロフィール
                = icon("fas", "chevron-right")
            %li.main__inner__sidebar__config__list__item
              = link_to "#" do
                %span 発送元・お届け先住所変更
                = icon("fas", "chevron-right")
            %li.main__inner__sidebar__config__list__item
              = link_to "#" do
                %span 支払い方法
                = icon("fas", "chevron-right")
            %li.main__inner__sidebar__config__list__item
              = link_to "#" do
                %span メール
                = icon("fas", "chevron-right")
            %li.main__inner__sidebar__config__list__item
              = link_to "#" do
                %span 本人情報
                = icon("fas", "chevron-right")
            %li.main__inner__sidebar__config__list__item
              = link_to "#" do
                %span 電話番号の確認
                = icon("fas", "chevron-right")
            %li.main__inner__sidebar__config__list__item
              = link_to "#" do
                %span ログアウト
                = icon("fas", "chevron-right")
      .main__inner__body
        .main__inner__body__user-icon
        .main__inner__body__notification
          %ul.main__inner__body__notification__tabs
            %li.main__inner__body__notification__tabs__title.active お知らせ
            %li.main__inner__body__notification__tabs__title やることリスト
          %ul.main__inner__body__notification__messages
            %li.main__inner__body__notification__messages__item
              = link_to "#", class: "messages__item" do
                = image_tag 'logos/logo_red.svg', alt: 'logo_red', height: '48', width: '48'
                .messages__item__content
                  .messages__item__content__text 事務局から個別メッセージ
                  .messages__item__content__date
                    = icon("far", "clock")
                    %span ２日前
                .messages__item__arrow
                  = icon("fas", "chevron-right")
            %li.main__inner__body__notification__messages__item
              = link_to "#", class: "messages__item" do
                = image_tag 'logos/logo_red.svg', alt: 'logo_red', height: '48', width: '48'
                .messages__item__content
                  .messages__item__content__text 事務局から個別メッセージ
                  .messages__item__content__date
                    = icon("far", "clock")
                    %span ２日前
                .messages__item__arrow
                  = icon("fas", "chevron-right")
            %li.main__inner__body__notification__messages__item
              = link_to "#", class: "messages__item" do
                = image_tag 'logos/logo_red.svg', alt: 'logo_red', height: '48', width: '48'
                .messages__item__content
                  .messages__item__content__text 事務局から個別メッセージ
                  .messages__item__content__date
                    = icon("far", "clock")
                    %span ２日前
                .messages__item__arrow
                  = icon("fas", "chevron-right")
            %li.main__inner__body__notification__messages__item
              = link_to "#", class: "messages__item" do
                = image_tag 'logos/logo_red.svg', alt: 'logo_red', height: '48', width: '48'
                .messages__item__content
                  .messages__item__content__text 事務局から個別メッセージ
                  .messages__item__content__date
                    = icon("far", "clock")
                    %span ２日前
                .messages__item__arrow
                  = icon("fas", "chevron-right")
            %li.main__inner__body__notification__messages__item
              = link_to "#", class: "messages__item" do
                = image_tag 'logos/logo_red.svg', alt: 'logo_red', height: '48', width: '48'
                .messages__item__content
                  .messages__item__content__text 事務局から個別メッセージ
                  .messages__item__content__date
                    = icon("far", "clock")
                    %span ２日前
                .messages__item__arrow
                  = icon("fas", "chevron-right")
            %li.main__inner__body__notification__messages__item--show-all
              = link_to "一覧をみる", "#"
          %ul.main__inner__body__notification__alerts
            %li.main__inner__body__notification__alerts__item
              = link_to "購入した商品のお支払いをしてください", "#"
            %li.main__inner__body__notification__alerts__item
              = link_to "出品した商品を発送してください", "#"
        .main__inner__body__purchase-history
          %h2.main__inner__body__purchase-history__title 購入した商品
          %ul.main__inner__body__purchase-history__tabs
            %li.main__inner__body__purchase-history__tabs__title 取引中
            %li.main__inner__body__purchase-history__tabs__title 過去の取引
          .main__inner__body__purchase-history__content
            %ul.main__inner__body__purchase-history__content__current
              %li.main__inner__body__purchase-history__content__current__item 山田さんから自転車を購入（取引中）
              %li.main__inner__body__purchase-history__content__current__item 田中さんからスマホケースを購入（取引中）
              %li.main__inner__body__purchase-history__content__current__item 佐藤さんからmacbookを購入（取引中）
            %ul.main__inner__body__purchase-history__content__previous
              %li.main__inner__body__purchase-history__content__previous__item 山田さんから自転車を購入
              %li.main__inner__body__purchase-history__content__previous__item 田中さんからスマホケースを購入
              %li.main__inner__body__purchase-history__content__previous__item 佐藤さんからmacbookを購入
  .banner
    .banner__inner
      .banner__inner__promotion
        %h2.banner__inner__promotion__title スマホでかんたんフリマアプリ
        %h2.banner__inner__promotion__text 今すぐ無料ダウンロード！
        .banner__inner__promotion__icons
          .banner__inner__promotion__icons__logo
            = image_tag 'logos/logo_red.svg', alt: 'logo_red', width: "58", height: "58"
          %ul.banner__inner__promotion__icons__apps
            %li.banner__inner__promotion__icons__apps__item
              = image_tag 'badges/App_Store_Badge_JP_RGB_blk.svg', alt: 'App_Store_Badge_JP_RGB_blk', width: "133", height: "40"
            %li.banner__inner__promotion__icons__apps__item
              = image_tag 'badges/App_Store_Badge_JP_RGB_blk.svg', alt: 'App_Store_Badge_JP_RGB_blk', width: "133", height: "40"
      .banner__inner__image
        = image_tag 'logos/logo_red.svg', alt: 'logo_gray', width: "68", width: "260", height: "260"
  .footer
    .footer__nav
      .footer__nav__cell
        %h2.footer__nav__cell__title メルカリについて
        %ul.footer__nav__cell__menu
          %li.footer__nav__cell__menu__item
            =link_to "会社概要（運営会社）", "#"
          %li.footer__nav__cell__menu__item
            =link_to "採用情報", "#"
          %li.footer__nav__cell__menu__item
            =link_to "プレスリリース", "#"
          %li.footer__nav__cell__menu__item
            =link_to "公式ブログ", "#"
          %li.footer__nav__cell__menu__item
            =link_to "メルカリロゴ利用ガイドライン", "#"
          %li.footer__nav__cell__menu__item
            %ul.footer__nav__cell__menu__item__social
              %li
                =link_to "#" do
                  = icon("fab", "twitter")
              %li
                =link_to "#" do
                  = icon("fab", "facebook")
      .footer__nav__cell
        %h2.footer__nav__cell__title ヘルプ＆ガイド
        %ul.footer__nav__cell__menu
          %li.footer__nav__cell__menu__item
            =link_to "メルカリガイド", "#"
          %li.footer__nav__cell__menu__item
            =link_to "らくらくメルカリ便", "#"
          %li.footer__nav__cell__menu__item
            =link_to "ゆうゆうメルカリ便", "#"
          %li.footer__nav__cell__menu__item
            =link_to "大型メルカリ便", "#"
          %li.footer__nav__cell__menu__item
            =link_to "車体取引ガイド", "#"
          %li.footer__nav__cell__menu__item
            =link_to "メルカリあんしん・あんぜん宣言！", "#"
          %li.footer__nav__cell__menu__item
            =link_to "偽ブランド品撲滅への取り組み", "#"
          %li.footer__nav__cell__menu__item
            =link_to "メルカリボックス", "#"
      .footer__nav__cell
        %h2.footer__nav__cell__title プライバシーと利用規約
        .footer__nav__cell__inner
          %ul.footer__nav__cell__menu
            %li.footer__nav__cell__menu__item
              =link_to "プライバシーポリシー", "#"
            %li.footer__nav__cell__menu__item
              =link_to "メルカリ利用規約", "#"
            %li.footer__nav__cell__menu__item
              =link_to "あんしんスマホサポート制度に関する利用特約", "#"
            %li.footer__nav__cell__menu__item
              =link_to "コンプライアンスポリシー", "#"
          %ul.footer__nav__cell__menu
            %li.footer__nav__cell__menu__item
              =link_to "個人データの安全管理に係る基本方針", "#"
            %li.footer__nav__cell__menu__item
              =link_to "特定商取引に関する表記", "#"
            %li.footer__nav__cell__menu__item
              =link_to "資金決済法に基づく表示", "#"
            %li.footer__nav__cell__menu__item
              =link_to "法令順守と犯罪抑止のために", "#"
      .footer__nav__cell
        %h2.footer__nav__cell__title 国
        %ul.footer__nav__cell__menu
          %li.footer__nav__cell__menu__item
            =link_to "日本", "#"
          %li.footer__nav__cell__menu__item
            =link_to "United States", "#"
  .sell-button
