.main__inner__body
  .mypage__payment
    .mypage__payment__title クレジットカード情報入力
    .mypage__payment__card-registration
      = form_with(class: "mypage__payment__card-registration__form") do |f|
        = f.label :card_number, "カード番号"
        %span 必須
        = f.text_field :card_number, placeholder: "半角数字のみ", maxlength: "16", class: "mypage__payment__card-registration__form__card-num"
        %br
        = f.label :exp_month, "有効期限"
        = f.select :exp_month, ["1", "2", "3", "4", "5", "6", "7", "8", "9", "10", "11", "12"]
        %span 月/
        = f.select :exp_year, [ [19, "2019"], [20, "2020"], [21, "2021"], [22, "2022"], [23, "2023"], [24, "2024"], [25, "2025"], [26, "2026"], [27, "2027"], [28, "2028"], [29, "2029"] ]
        %span 年
        %br
        = f.label :security_code, "セキュリティコード"
        = f.text_field :card_number, placeholder: "カード背面4桁もしくは3桁の番号", maxlength: "4", class: "mypage__payment__card-registration__form__security-code"
        .mypage__payment__card-registration__form__about-security-code
          = icon("fas", "question-circle")
          %span カード裏面の番号とは？
        = f.submit "追加する", class: "mypage__payment__card-registration__form__submit-button"
