<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :passwordf %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :名前 %><br />
    <%= f.text_field :first_name, autocomplete: "first_name" %>
  </div>

  <div class="field">
    <%= f.label :苗字 %><br />
    <%= f.text_field :last_name, autocomplete: "last_name" %>
  </div>

  <div class="feld">
    <%= f.label :名前_カナ %><br />
    <%= f.text_field :first_name_kana, autocomplete: "first_name" %>
  </div>

  <div class="field">
    <%= f.label :苗字_カナ %><br />
    <%= f.text_field :last_name_kana, autocomplete: "last_name" %>
  </div>

  <div class="field">
    <%= f.label :電話番号 %><br />
    <%= f.text_field :phone_number, autocomplete: "phone_number" %>
  </div>

  <div class="field">
    <%= f.select :year_of_birth, [["1990", "1990"], ["1991", "1991"],  ["1992", "1992"], ["1993", "1993"],["1994", "1994"] ],  :prompt => "--" %> 年
  </div>

  <div class="field">
    <%= f.select :month_of_birth, [["1", "1"], ["2", "2"],  ["3", "3"], ["4", "4"],["5", "5"] ],  :prompt => "--" %> 月
  </div>

  <div class="field">
    <%= f.select :day_of_birth, [["1", "1"], ["2", "2"],  ["3", "3"], ["4", "4"],["5", "5"] ],  :prompt => "--" %> 日
  </div>

  <div class="field">
    <%= f.fields_for :user_profile do |p| %>
    nickname
      <%= p.text_field :nickname %>
    <% end %>
  </div>

  <div class="field">
    <%= f.fields_for :user_profile do |p| %>
    profile
      <%= p.text_field :profile %>
    <% end %>
  </div>

  <div class="field">
    <%= f.fields_for :user_profile do |p| %>
    avator
      <%= p.text_field :avator %>
    <% end %>
  </div>

  <div class="actions">
    <%= f.submit "登録" %>
  </div>


<% end %>

<%= render "devise/shared/links" %>
