=render 'single/single-header'
.registration__page__wrapper
  .registration__page__wrapper__container
    %h2.registration__page__wrapper__container__page__title
      発送元・お届け先住所入力
    .registration__page__wrapper__container__form__group
      = form_for @user, url: signup_index_path, method: :post do |f|
        %p.registration__label
          %label
            お名前
          %span.registration__card
            必須
          .registration__input__wrapper
            = f.fields_for :user_address do |ua|
              = ua.text_field :last_name, class: 'registration__input', placeholder: '例 メルカリ'
              = ua.text_field :first_name, class: 'registration__input', placeholder: '例 太郎'
        %p.registration__label
          %label
            お名前（カナ入力）
          %span.registration__card
            必須
          .registration__input__wrapper
            = f.fields_for :user_address do |ua|
              = ua.text_field :last_name_kana, class: 'registration__input', placeholder: '例 メルカリ'
              = ua.text_field :first_name_kana, class: 'registration__input', placeholder: '例 太郎'
        %p.registration__label
          %label
            都道府県
          %span.registration__card
            必須
          .registration__input__wrapper
            = f.fields_for :user_address do |ua|
              = ua.collection_select :prefecture, Prefecture.all, :id, :name, { prompt: '---' }, class: 'registration__input'
        %p.registration__label
          %label
            郵便番号
          %span.registration__card
            必須
          .registration__input__wrapper
            = f.fields_for :user_address do |ua|
              = ua.text_field :post_number, class: 'registration__input', placeholder: '例 横浜市緑区'
        %p.registration__label
          %label
            市町村
          %span.registration__card
            必須
          .registration__input__wrapper
            = f.fields_for :user_address do |ua|
              = ua.text_field :city, class: 'registration__input', placeholder: '例 横浜市緑区'
        %p.registration__label
          %label
            番地
          %span.registration__card
            必須
          .registration__input__wrapper
            = f.fields_for :user_address do |ua|
              = ua.text_field :house_number, class: 'registration__input', placeholder: '例 青山1-1-1'
        %p.registration__label
          %label
            建物名
          %span.registration__card
            任意
          .registration__input__wrapper
            = f.fields_for :user_address do |ua|
              = ua.text_field :building_name, class: 'registration__input', placeholder: '例 柳ビル101'
        %p.registration__label
          %label
            ニックネーム
          %span.registration__card
            必須
          .registration__input__wrapper
            = f.fields_for :user_profile do |up|
              = up.text_field :nickname, class: 'registration__input', placeholder: '例 メルカリ太郎'    
            = f.submit "次へ進む", class: "registration__push__next"