= form_for @user, url: signup_index_path, method: :post do |f|
  .field
    %p email
    = f.email_field :email, placeholder: 'xxx@yyy.com'
  .field
    %p firstname
    = f.text_field :first_name, placeholder: '例 メルカリ'
  .field
    %p firstname_kana
    = f.text_field :first_name_kana, placeholder: '例 めるかり'
  .field
    %p lastname
    = f.text_field :last_name, placeholder: '例 太郎'
  .field
    %p lastname_kana
    = f.text_field :last_name_kana, placeholder: '例 タロウ'
  .field
    %p pass
    = f.password_field :password, autocomplete: "new-password"
  .field
    %p pass-conf
    = f.password_field :password_confirmation, autocomplete: "new-password"
  .field
    %p phone-num
    = f.password_field :phone_number, autocomplete: "phone_number"
  .field
    %p birth-date
    = f.select :year_of_birth, [["1990", "1990"], ["1991", "1991"],  ["1992", "1992"], ["1993", "1993"],["1994", "1994"] ], :prompt => "--"
    年
    = f.select :month_of_birth,[["1", "1"], ["2", "2"],  ["3", "3"], ["4", "4"],["5", "5"] ],  :prompt => "--"
    月
    = f.select :day_of_birth,[["1", "1"], ["2", "2"],  ["3", "3"], ["4", "4"],["5", "5"] ],  :prompt => "--"
    日
  .field
    = f.fields_for :user_profile do |up|
      %p user-nickname
      = up.text_field :nickname
      %p user-profile
      = up.text_field :profile
      %p user-avator
      = up.text_field :avator
  .actions
    = f.submit "register"
  .field
    = link_to "logout", destroy_user_session_path, method: :delete
  .field
    - if user_signed_in?
      user is here.
    - else
      user is not here.

