%ul.new__item
  = link_to do
    %li.item
      .item__picture
        .item__capital
          ¥999
        .item__caption
          ダミー画像
  = link_to do
    %li.item
      .item__picture
        .item__capital
          ¥999
        .item__caption
          ダミー画像
  = link_to do
    %li.item
      .item__picture
        .item__capital
          ¥999
        .item__caption
          ダミー画像
  = link_to do
    %li.item
      .item__picture
        .item__capital
          ¥999
        .item__caption
          ダミー画像
  = link_to do
    %li.item
      .item__picture
        .item__capital
          ¥999
        .item__caption
          ダミー画像

%ul.new__item
  = link_to do
    %li.item
      .item__picture
        .item__capital
          ¥999
        .item__caption
          ダミー画像
  = link_to do
    %li.item
      .item__picture
        .item__capital
          ¥999
        .item__caption
          ダミー画像
  = link_to do
    %li.item
      .item__picture
        .item__capital
          ¥999
        .item__caption
          ダミー画像
  = link_to do
    %li.item
      .item__picture
        .item__capital
          ¥999
        .item__caption
          ダミー画像
  = link_to do
    %li.item
      .item__picture
        .item__capital
          ¥999
        .item__caption
          ダミー画像

