%header
  = render "shared/header_navbar"
  .mypage
    .breadcrumb-wrapper
      .breadcrumb-inner
        - breadcrumb :logout
        = breadcrumbs separator: " &rsaquo; "
    .main
      .main__inner
        = render "user_accounts/mypage_sidebar"
        = render "tops/logoutpage"
%footer
  = render "shared/footer"
  = render partial: "exibit_button"