%body

  %header.header
  

  .slider

  .Popularity
    %h2 人気のカテゴリー
    %ul
      %li
        = link_to do
          レディース
      %li
        = link_to do
          メンズ
      %li
        = link_to do
          家電・スマホ・カメラ
      %li
        = link_to do
          おもちゃ・ホビー・グッズ
  
  .item__All

    .newItem__Title
      %h3 レディース新着アイテム
      = link_to do
        %b
          もっと見る＞

    = render partial: "tops"


    .newItem__Title
      %h3 メンズ新着アイテム
      = link_to do
        %b
          もっと見る＞

    = render partial: "tops"


    .newItem__Title
      %h3 家電・スマホ・カメラ新着アイテム
      = link_to do
        %b
          もっと見る＞

    = render partial: "tops"

    .newItem__Title
      %h3 おもちゃ・ホビー・グッズ新着アイテム
      = link_to do
        %b
          もっと見る＞

    = render partial: "tops"
    
  .Popularity
    %h2 人気のブランド
    %ul
      %li
        = link_to do
          シャネル
      %li
        = link_to do
          ルイヴィトン
      %li
        = link_to do
          シュプリーム
      %li
        = link_to do
          ナイキ
    
  .item__All

    .newItem__Title
      %h3 シャネル新着アイテム
      = link_to do
        %b
          もっと見る＞

    = render partial: "tops"

    .newItem__Title
      %h3 ルイヴィトン新着アイテム
      = link_to do
        %b
          もっと見る＞

    = render partial: "tops"

    .newItem__Title
      %h3 シュプリーム新着アイテム
      = link_to do
        %b
          もっと見る＞

    = render partial: "tops"

    .newItem__Title
      %h3 ナイキ新着アイテム
      = link_to do
        %b
          もっと見る＞

    = render partial: "tops"  
    
      

  .news__Bar
  %footer

  = link_to do
    .red__Button
      .red__Button__caption
        出品
      .red__Button__icon
        %i.fas.fa-camera
  

