%header
  = render "shared/header_navbar"

  .slider
    = link_to do
      %i.fas.fa-angle-left
    = link_to do
      %i.fas.fa-angle-right

  .popularity
    %h2 人気のカテゴリー
    %ul.item
      %li.item__tag
        = link_to do
          レディース
      %li.item__tag
        = link_to do
          メンズ
      %li.item__tag
        = link_to do
          家電・スマホ・カメラ
      %li.item__tag
        = link_to do
          おもちゃ・ホビー・グッズ

  .item__all

    .new__item__title
      %h3 レディース新着アイテム
      = link_to do
        %b
          もっと見る＞
    = render partial: "tops", locals: { products: Product.filter_by_category("レディース")}

    .new__item__title
      %h3 メンズ新着アイテム
      = link_to do
        %b
          もっと見る＞
    = render partial: "tops", locals: { products: Product.filter_by_category("メンズ")}

    .new__item__title
      %h3 家電・スマホ・カメラ新着アイテム
      = link_to do
        %b
          もっと見る＞
    = render partial: "tops", locals: { products: Product.filter_by_category("家電・スマホ・カメラ")}

    .new__item__title
      %h3 おもちゃ・ホビー・グッズ新着アイテム
      = link_to do
        %b
          もっと見る＞
    = render partial: "tops", locals: { products: Product.filter_by_category("おもちゃ・ホビー・グッズ")}

    .new__item__title
      %h3 ベビー・キッズ
      = link_to do
        %b
          もっと見る＞
    = render partial: "tops", locals: { products: Product.filter_by_category("ベビー・キッズ")}

    .new__item__title
      %h3 インテリア・住まい・小物
      = link_to do
        %b
          もっと見る＞
    = render partial: "tops", locals: { products: Product.filter_by_category("インテリア・住まい・小物")}

    .new__item__title
      %h3 本・音楽・ゲーム
      = link_to do
        %b
          もっと見る＞
    = render partial: "tops", locals: { products: Product.filter_by_category("本・音楽・ゲーム")}

    .new__item__title
      %h3 コスメ・香水・美容
      = link_to do
        %b
          もっと見る＞
    = render partial: "tops", locals: { products: Product.filter_by_category("コスメ・香水・美容")}

    .new__item__title
      %h3 スポーツ・レジャー
      = link_to do
        %b
          もっと見る＞
    = render partial: "tops", locals: { products: Product.filter_by_category("スポーツ・レジャー")}

    .new__item__title
      %h3 ハンドメイド
      = link_to do
        %b
          もっと見る＞
    = render partial: "tops", locals: { products: Product.filter_by_category("ハンドメイド")}

  .popularity
    %h2 人気のブランド
    %ul.item
      %li.item__tag
        = link_to do
          シャネル
      %li.item__tag
        = link_to do
          ルイヴィトン
      %li.item__tag
        = link_to do
          シュプリーム
      %li.item__tag
        = link_to do
          ナイキ

  .item__all

    .new__item__title
      %h3 シャネル新着アイテム
      = link_to do
        %b
          もっと見る＞


    .new__item__title
      %h3 ルイヴィトン新着アイテム
      = link_to do
        %b
          もっと見る＞


    .new__item__title
      %h3 シュプリーム新着アイテム
      = link_to do
        %b
          もっと見る＞


    .new__item__title
      %h3 ナイキ新着アイテム
      = link_to do
        %b
          もっと見る＞


  = render "shared/footer"
  = render partial: "exibit_button"
