.pc-header
  .pc-header__inner
    .pc-header__inner__top
      = link_to "#", class: "pc-header__inner__top__logo" do
        = image_tag 'logos/fmarket_logo_red.svg', alt: 'fmarket_logo', height: '36', width: '134'
      %form.pc-header__inner__top__search
        %input{ type: "search", placeholder: "何かお探しですか？", class: "pc-header__inner__top__search__input" }
        .pc-header__inner__top__search__icon
          = icon("fas", "search", class: "pc-header__inner__top__search__icon")
    .pc-header__inner__navbar
      %ul.pc-header__inner__navbar__menu-left
        %li.pc-header__inner__navbar__menu-left__item
          = link_to "#" do
            = icon("fas" , "list")
            %span カテゴリーから探す
        %li.pc-header__inner__navbar__menu-left__item
          = link_to "#" do
            = icon("fas", "tags")
            %span ブランドから探す
      %ul.pc-header__inner__navbar__menu-right
        %li.pc-header__inner__navbar__menu-right__item
          = link_to "#" do
            = icon("far", "heart")
            %span いいね！一覧
        %li.pc-header__inner__navbar__menu-right__item
          = link_to "#" do
            = icon("far", "bell")
            %span お知らせ
        %li.pc-header__inner__navbar__menu-right__item
          = link_to "#" do
            = icon("fas", "check")
            %span やることリスト
        %li.pc-header__inner__navbar__menu-right__item
          = link_to "#" do
            = image_tag 'mypage/boy_01.png', alt: 'user_icon', height: '32', width: '32'
            %span マイページ