.product-detail__wrapper
  .product-detail__content
    %h1.product-detail__content__title 腕時計
    .product-detail__content__main
      .product-detail__content__main__photo
        .product-detail__content__main__photo__show
          = image_tag 'products_temporary/food_curryrice_white.png', alt: 'food_curryrice_white', height: '300', width: '300', class: ''
      .product-detail__content__main__details
        %table.product-detail__table
          %tbody.product-detail__table__tbody
            %tr.product-detail__table__tbody__row
              %th.product-detail__table__tbody__row__title 出品者
              %td.product-detail__table__tbody__row__content
                = link_to "山田", "#"
                %ul.product-detail__user-rating
                  %li.product-detail__user-rating__item
                    = icon("fas", "smile", class: "product-detail__user-rating__item__rate--good")
                    %span 101
                  %li.product-detail__user-rating__item
                    = icon("fas", "meh", class: "product-detail__user-rating__item__rate--normal")
                    %span 56
                  %li.product-detail__user-rating__item
                    = icon("fas", "frown", class: "product-detail__user-rating__item__rate--bad")
                    %span 17
            %tr.product-detail__table__tbody__row
              %th.product-detail__table__tbody__row__title カテゴリー
              %td.product-detail__table__tbody__row__content
                %ul.product-detail__category
                  %li.product-detail__category__item
                    = link_to "#" do
                      %span メンズ
                  %li.product-detail__category__item
                    = link_to "#" do
                      = icon("fas", "chevron-right")
                      %span 時計
                  %li.product-detail__category__item
                    = link_to "#" do
                      = icon("fas", "chevron-right")
                      %span 腕時計
            %tr.product-detail__table__tbody__row
              %th.product-detail__table__tbody__row__title ブランド
              %td.product-detail__table__tbody__row__content
                = link_to "シャネル", "#"
            %tr.product-detail__table__tbody__row
              %th.product-detail__table__tbody__row__title 商品の状態
              %td.product-detail__table__tbody__row__content 目立った汚れや傷なし
            %tr.product-detail__table__tbody__row
              %th.product-detail__table__tbody__row__title 配送料の負担
              %td.product-detail__table__tbody__row__content 送料込み
            %tr.product-detail__table__tbody__row
              %th.product-detail__table__tbody__row__title　配送の方法
              %td.product-detail__table__tbody__row__content らくらくメルカリ便
            %tr.product-detail__table__tbody__row
              %th.product-detail__table__tbody__row__title 配送元地域
              %td.product-detail__table__tbody__row__content
                = link_to "千葉県", "#"
            %tr.product-detail__table__tbody__row
              %th.product-detail__table__tbody__row__title 発送日の目安
              %td.product-detail__table__tbody__row__content 1~2日で発送
    .product-detail__content__price-box
      %span.product-detail__content__price-box__price &yen;9,500
      %span.product-detail__content__price-box__tax (税込み)
      %span.product-detail__content__price-box__shipping-fee 送料込み
    .product-detail__content__buy
      = link_to "購入画面に進む", "#"
    .product-detail__content__description
      %p.product-detail__content__description__inner 【商品名】 ナイキ ビッグスウォッシュ スウェットパンツ 【商品状態】 新品・未使用品 【color】 ブラック 【size】 M 【ウエスト ヒップ   股上    股下  もも周り すそ周り】 (76)        (93)    (33)   (67.5)   (59)        (25) ※ あくまで自宅保管の為USED品に ご理解頂ける方のご入札でお願い致します。
    .product-detail__content__buttons
