%h2 Sign up
= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
  = render "devise/shared/error_messages", resource: resource
  .field
    .field-label
      = f.label :first_name
    .field-input
      = f.text_field :first_name
  .field
    .field-label
      = f.label :last_name
    .field-input
      = f.text_field :last_name
  .field
    .field-label
      = f.label :first_name_kana
    .field-input
      = f.text_field :first_name_kana
  .field
    .field-label
      = f.label :last_name_kana
    .field-input
      = f.text_field :last_name_kana
  .field
    .field-label
      = f.label :year_of_birth
    .field-input
      = f.number_field :year_of_birth
  .field
    .field-label
      = f.label :month_of_birth
    .field-input
      = f.number_field :month_of_birth
  .field
    .field-label
      = f.label :day_of_birth
    .field-input
      = f.number_field :day_of_birth
  .field
    .field-label
      = f.label :phone_number
    .field-input
      = f.telephone_field :phone_number
  .field
    = f.label :email
    %br/
    = f.email_field :email, autocomplete: "email"
  .field
    = f.label :password
    - if @minimum_password_length
      %em
        (#{@minimum_password_length} characters minimum)
    %br/
    = f.password_field :password, autocomplete: "new-password"
  .field
    = f.label :password_confirmation
    %br/
    = f.password_field :password_confirmation, autocomplete: "new-password"
  .actions
    = f.submit "Sign up"
= render "users/shared/links"
